*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: 'PT Sans', sans-serif; ;
}

.container {
  width:90%;
  margin: 0px auto;
}

.debug{
  min-height: 50px;
  width: 250px;
  border: 1px solid black;
  background-color: lightgrey;
}

.debug2{
  border: 1px solid rgb(255, 255, 255);
  background-color: lightgrey;
}

.d-flex{
  display: flex;
}

a{
  text-decoration: none;
  color: white;
}

.btm-apple{
  display: inline-block;
  background-color:#0084FD;
  border-radius: 25px;
  padding: 10px 80px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: 700;
}

.btm{
  display: inline-block;
  background-color: #9792E4;
  border-radius: 25px;
  padding: 8px 50px;
  letter-spacing: 1.5px;
  margin-top: 15px;
}

.btm-linkedin{
  display: inline-block;
  background-color: #9792E4;
  border-radius: 25px;
  padding: 10px 10px;
}

.btm-free{
  display: inline-block;
  background-color: #ffffff;
  color: #9792E4;
  text-transform: capitalize;
  border-radius: 50px;
  padding: 20px 80px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.arrow{
  display: inline-block;
  background-color: #9792E4;
  border-radius:50%;
  padding: 10px 15px;
}

p,em{
  font-size: 1.2rem;
  line-height:30px;
}

.menu{
  width: 100%;
  background-color: rgb(13, 164, 252);
  position: fixed;
  top: 0px; 
  z-index: 999; 
}

.menu .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .row nav ul{
  display: none;
}

.menu .row nav ul li{
  text-decoration: none;
  list-style: none;
  text-transform: none;
  color: white;
}


/* prima section intro */

.intro{
padding:60px 0px 60px 0px;
flex-wrap: wrap;
}

.intro .col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-intro{
  width: 100%;
  flex-direction: column;
}

.row-intro .col{
  text-align: center;
}





.row-intro .col img{
width: 100%;
object-fit: contain;
}







/* fine section intro */


/* seconda section planning */

.planning{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#9792E4;
  color: white;
  width: 100%;
  text-align: left;
  padding: 40px 0 80px 0;
}

.planning h2{
  color: white;
  display: inline-block;
}

.planning-image{
  width: 100%;
}

.planning-image img{
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.planning-card{
  width: 90%;
  align-items: center;
  flex-direction: column; 
  background-color: white;
  color: black;
  margin: 25px 0 25px 0;
  padding: 30px 0px;
  border-radius: 25px;
  text-align: center;
}

.planning-card img{
  width: 100%;
}

.planning-card h2{
  display:block;
  color: black;
}

/* fine seconda section planning */

/* inizio terza section testimonial */

.testimonial{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-testimonial span{
  text-transform: uppercase;
}

.text-testimonial h2{
  color: #9792E4;
  font-size: 2.9rem;
}

.text-testimonial,.card-testimonial{
margin: 40px 25px;
}

.card-testimonial{
  color: white;
  background-color:#9792E4;
  padding: 10px 20px;
  border-radius: 50px;
}

.card-testimonial img{
  width: 380px;
  height: 380px;
  border-radius: 50%;
  object-fit: cover;
  margin: 25px 0;
}

.card-testimonial h3{
  color: white;
  text-transform: uppercase;
  margin: 20px 0px;
  letter-spacing: 2px;
}

/* fine terza section testimonial */

/* inizio quarta section working */

.working{
  width: 100%;
  background-color: #9792E4;
  flex-direction: column;
  align-items: center;
}

.working h1{
  font-size: 2.7rem;
}

.working h2:first-child{
  color: white;
  font-size: 3.4rem;
  text-align: center;
  padding: 50px 10px 50px 10px;
}

.working h2{
  font-size: 1.3rem;
  color: #9792E4;
}

.working p{
  color: gray;
}

.working h1,h2,p{
padding: 10px 0;
}

.card-working{
  width: 90%;
  color: #9792E4;
  background-color:white;
  padding: 40px 25px;
  margin: 15px 0px;
  border-radius: 25px;
}

.card-working h1,h2,p,span{
  padding: 10px 10px;
}

/* fine quarta section working */

/* inizio quinta section working */

.about{
width: 100%;
margin-top: 50px;
margin-bottom: 50px;
}

.text-about{
width: 100%;
margin: 15px 20px;
}

.text-about h1{
  font-size: 3.5rem;
}

.text-about h2{
  font-size: 2.9rem;
}


.about .text-about p{
  letter-spacing: 1px;
}

.text-about h1,h3,h2{
color:#9792E4;
}

.image-about{
  width: 60%;
position: relative;
margin: 25px 0;
}

.about .text-about img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about .text-about .fa-solid{
  position: absolute;
  bottom: 75%;
  right: 5%;
  font-size: 4.5rem;
  color: #9792E4;
}

.about .text-about .fa-linkedin{
  margin-right: 10px;
}

/* fine quinta section about */

/* inizio section footer free */

.free{
  width: 100%;
  background-color: #9792E4;
  flex-direction: column;
  text-align: center;
  padding: 40px 0 0px 0;
}

.text-free{
  padding: 40px 10px 40px 10px;
}

.text-free span{
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}
.text-free h2{
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
}

.text-free h1{
  color: rgb(241, 187, 9);
  font-size: 5rem;
  text-transform: capitalize;
}

.text-free p{
  color: white;
}

.row-copyright {
display: inline;
margin: 50px 0px;
}

.row-copyright li{
display: inline-block;
color: white;
margin: 0px 10px;
text-align: center;
}

.row-copyright li:first-child{
  list-style-type: none;
}


.end-free{
  background-color: #333333;
  padding: 50px 50px;
}

.end-free p{
  color: white;
  margin: 40px 0 0 0;
}

.end-free p a{
  color: #9792E4;
  text-decoration: underline;
}

/* fine section footer free */


@media screen and (min-width:768px){
  .container{
   max-width:1140px;
  }


  .intro .col{
    width: calc(100%/3);
    flex-wrap: wrap;
  }

  .intro .row-intro{
    width: 66.6666%;
  }

  .intro .row-intro .col{
    width: 100%;
  }




  .intro .col



  .intro .row:first-child{
  width: 100%;
  
  }

}

@media screen and (min-width:992px) {
  .container{
/*     width: 100%;
 */  }

  .menu .row .col a:last-child{
    display: none;
  }

  .menu .row nav ul{
    display: flex;
  }
  
  .menu .row nav ul li{
    text-decoration: none;
    list-style: none;
    text-transform: none;
    color: white;
  }


}