*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: 'PT Sans', sans-serif; ;
}

.container {
  width:90%;
  margin: 0px auto;
}

.debug{
  min-height: 50px;
  border: 1px solid black;
  background-color: lightgrey;
}


.d-flex{
  display: flex;
}

a{
  text-decoration: none;
  color: white;
}

.btm{
  background-color: #9792E4;
  border-radius: 25px;
  padding: 8px 40px;
  letter-spacing: 1.5px;
}

.btm-linkedin{
  background-color: #9792E4;
  border-radius: 25px;
  padding: 10px 10px;
}

.arrow{
  display: inline-block;
  background-color: #9792E4;
  border-radius:50%;
  padding: 10px 15px;
}

p,em{
  font-size: 1.2rem;
  line-height:30px;
}

.menu{
  width: 100%;
  background-color: rgb(13, 164, 252);
  position: fixed;
  top: 0px; 
  z-index: 999; 
}

.menu .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .row nav ul{
  display: none;
}

.menu .row nav ul li{
  text-decoration: none;
  list-style: none;
  text-transform: none;
  color: white;
}


/* prima section intro */

.intro{
padding:60px 0px 60px 0px;
flex-wrap: wrap;
align-items: center;
text-align: center;
}

.intro .col {
background-color: rgba(128, 210, 243, 0.89);
margin: 10px 0px;
border-radius: 25px;
padding: 20px 20px;
}

.intro .col i{
font-size: 5rem;
}

.intro .col i,h2 {
color:rgb(29, 151, 221) ;
}
.intro .row .intro-card:first-child{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: rgba(128, 210, 243, 0.89);
border-radius: 25px;
}

.intro .row .col:first-child{
text-align: left;
}

.intro .row .col:last-child img{
  width:100%; 
}

/* fine section intro */


/* seconda section planning */

.planning{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#9792E4;
  color: white;
  width: 100%;
  text-align: left;
  padding: 40px 0 80px 0;
}

.planning h2{
  color: white;
  display: inline-block;
}

.planning-image{
  width: 100%;
}

.planning-image img{
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.planning-card{
  width: 90%;
  align-items: center;
  flex-direction: column; 
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 25px 0 25px 0;
  padding: 30px 0px;
  border-radius: 25px;
  text-align: center;
}

.planning-card img{
  width: 100%;
}

.planning-card h2{
  display:block;
  color: black;
}

/* fine seconda section planning */

/* inizio terza section testimonial */

.testimonial{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-testimonial span{
  text-transform: uppercase;
}

.text-testimonial h2{
  color: #9792E4;
}

.text-testimonial,.card-testimonial{
margin: 40px 25px;
}

.card-testimonial{
  color: white;
  background-color:#9792E4;
  padding: 10px 20px;
  border-radius: 50px;
}

.card-testimonial img{
  width: 380px;
  height: 380px;
  border-radius: 50%;
  object-fit: cover;
  margin: 25px 0;
}

.card-testimonial h3{
  color: white;
  text-transform: uppercase;
  margin: 20px 0px;
  letter-spacing: 2px;
}

/* fine terza section testimonial */

/* inizio quarta section working */

.working{
  width: 100%;
  background-color: #9792E4;
  flex-direction: column;
  align-items: center;
}

.working h1{
  font-size: 2rem;
}

.working h2{
  font-size: 1.3rem;
  color: #9792E4;
}

.working p{
  color: gray;
}


.card-working{
  width: 90%;
  color: #9792E4;
  background-color:white;
  padding: 10px 20px;
  margin: 15px 0px;
  border-radius: 25px;
}

.card-working h1,h2,p,span{
  margin: 10px 10px;
}

.about{
width: 100%;
margin-top: 50px;
margin-bottom: 50px;
}

.text-about{
width: 90%;
margin: 15px 20px;
}

.text-about h1,h3{
color:#9792E4;
}

.free{
  width: 100%;
  background-color: #9792E4;
}




@media screen and (min-width:768px){
  .container{
   width: 100%;
  }

  .intro{
    width: 100%;
    flex-direction: row;
  }

}

@media screen and (min-width:992px) {
  .container{
    width: 100%;
  }

  .menu .row .col a:last-child{
    display: none;
  }

  .menu .row nav ul{
    display: flex;
  }
  
  .menu .row nav ul li{
    text-decoration: none;
    list-style: none;
    text-transform: none;
    color: white;
  }


}